{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <br>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis voluptate nihil sed facere saepe iste
            iusto
            reprehenderit, libero quia? Expedita quaerat modi aliquid tenetur velit praesentium alias fuga cumque ex
            repellat
            molestiae, incidunt quas maxime explicabo debitis suscipit cupiditate cum. Exercitationem totam dolorum
            neque
            eligendi amet rem distinctio praesentium, alias corporis possimus aperiam voluptates libero eveniet, quis
            hic.
            Totam, assumenda mollitia recusandae dolor amet molestias aliquam at suscipit vero ab error iure id in
            temporibus ut
            facilis, odio nam aliquid atque, rem consequatur. Rem culpa facere officiis necessitatibus maxime sapiente
            explicabo
            expedita nihil ipsum cum blanditiis, aliquam sunt fugiat assumenda!</p>

        <div class="container py-5 text-center">
            <a href="/signin/" class="btn btn-secondary">SigIn</a>
            <a href="/signup/" class="btn btn-dark">SigUp</a>
        </div>

    </section>
</main>

{% endblock %}